<div class="header">
  <div>
    <img
      class="logo"
      src="../../assets/images/logo_Taxmann--Tax-&-CL-of-India-for-Web_Sept18.svg"
    />
    <span class="bookstore">Bookstore</span>
  </div>
  <div class="search clearfix">
    <span class="searchicon">
      <i class="fa fa-search img-sizing" aria-hidden="true"></i>
    </span>
    <input
      type="text"
      autocomplete="off"
      [placeholder]="'Search anything on tax and corporate law in bookstore'"
    />
  </div>
  <div class="header-icons">
      <div class="alphabet-icon green">R</div>
      <div class="border-right"></div>
      <div class="alphabet-icon pink">E</div>
      <div class="border-right"></div>
      <div class="alphabet-icon blue">C</div>
      <div class="border-right"></div>
      <i class="fa fa-angle-down" aria-hidden="true"></i>
      <button class="bookstore">Bookstore</button>
      <img class="header-image" src="../../assets/images/Reserach.svg">
      <img class="header-image" src="../../assets/images/Notification.svg">
      <img class="header-image" src="../../assets/images/Profile.svg">
      <img class="header-image" src="../../assets/images/Cart.svg">
      <div class="menu-bar">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
  </div>
</div>
