<div class="footer">
<div class="footer-item">
    <img
    class="logo"
    src="../../assets/images/logo_Taxmann--Tax-&-CL-of-India-for-Web_Sept18.svg"
  />
  <span class="bookstore mb-30">Tax and Corporate Laws of INDIA</span>
  <div class="footer-content mb-30">Everything you need on Income Tax,<br> GST and Corporate Laws. Authentic <br>databases, books, journals, Practice<br> and Exam platforms</div>
<div class="display-flex mb-40">
    <img src="../../assets/images/google-play-badge (1).png">
    <img src="../../assets/images/app-store.png">
</div>
<div class="display-flex mb-30">
<img class="social-img" src="../../assets/images/Facebook.svg">
<img class="social-img" src="../../assets/images/Twitter.svg">
<img class="social-img" src="../../assets/images/Linkedin.svg">
<img class="social-img" src="../../assets/images/Combined Shape.svg">
</div>
<div class="footer-content">© 2019 Taxmann.com. All rights reserved.</div>
</div>
<div class="footer-item">
<ul>
    <li class="list-heading">Products</li>
    <li>Research</li>
    <li>Practice</li>
    <li>Exam</li>
    <li>Complaince</li>
    <li>Taxmann Bookstore</li>
    <li>Taxmann Blog</li>
</ul>
<ul>
    <li class="list-heading">About Company</li>
    <li>History</li>
    <li>Board of Directors</li>
    <li>Media Coverage</li>
    <li>Taxmann Education(CSR)</li>
    <li>Careers</li>
</ul>
</div>
<div class="footer-item">
    <ul>
        <li class="list-heading">Catalogue</li>
        <li>Academic</li>
        <li>Professional</li>
        <li>Bare Acts</li>
        <li>Banking and finance</li>
        <li>NISM Certification Courses</li>
        <li>One Solution TDS & ITR</li>
        <li>Goods & Services Tax(GST)</li>
        <li>LL.B. Series</li>
        <li>Insolvency and Bankruptcy</li>
    </ul>
</div>
<div class="footer-item">
    <ul>
        <li class="list-heading">Authors</li>
        <li>Academic</li>
        <li>Professional</li>
        <li>A-Z</li>
    </ul>
    <ul>
        <li class="list-heading">Bookstore Support</li>
        <li>Quick Delivery with Fedex</li>
        <li>Secured Payment</li>
        <li>Free shipping above Rs. 350</li>
        <li>Missed call support © 4556 2222</li>
    </ul>
</div>
<div class="footer-item">
    <ul>
        <li class="list-heading">Business & Support</li>
        <li>Sell with Taxmann</li>
        <li>Locate Dealers</li>
        <li>Locate Representatives</li>
        <li>Contact Us</li>
    </ul>
    <ul>
        <li class="list-heading">Legal</li>
        <li>Privacy Policy</li>
        <li>Return Policy</li>
        <li>Payment Terms</li>
        <li>Disclaimer</li>
        <li>EULA</li>
    </ul>
</div>
</div>