<div class="right-block">
    <div class="display-flex">
        <img class="image" src="../../assets/images/Orion_truck.svg">
        <div class="heading">
            Quick Delivery
            <span class="content">FedEx courier in most of the Cities</span>
        </div>
    </div>
    <div class="display-flex">
        <img class="image" src="../../assets/images/Orion_archive-box.svg">
        <div class="heading">
            Free Shipping
            <span class="content">Accorss India on order above Rs 350</span>
        </div>
    </div>
    <div class="display-flex">
        <img class="image" src="../../assets/images/Orion_secure-payment (1).svg">
        <div class="heading">
            Secured Payment
            <span class="content">Taxmann provides secure service</span>
        </div>
    </div>

</div>