<app-header></app-header>
 <div class="display-flex">
     <div class="left-division">
        <app-navbar></app-navbar>
     </div>
<div class="center-division">
    <div class="tab">
        <div class="tab-home">
            <span class="tab-title">Bookstore Home</span>
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
    </div>
    <app-home-page></app-home-page>
    <div class="display-flex space-between">
        <span class="recommend-text">Recommended for you</span>
        <a class="view-all">View all</a>
    </div>
    <div class="grid-container">
        <app-book class="grid-item" [title]="'Income Tax Rules with Master 
    Guide To Income Tax Rules'" [imgClass]="'income-tax'" [bookTag]="'Best Seller'" [author]="'Aditya Gadge,  Biharilal Deora'" [price]="'Rs. 345'"></app-book>
    <app-book class="grid-item" [title]="'Central Excise Manual (Vol 2) 
    (Set of 3 Books)'" [imgClass]="'central-excise'"  [author]="'Amitabha Mukherjee '" [price]="'Rs. 1,799'"></app-book>
    <app-book class="grid-item" [title]="'Central Excise Manual (Vol 2) 
    (Set of 3 Books)'" [imgClass]="'gst'" [bookTag]="'Limited Edition'" [author]="'By S. N. Bidani, P. K. Mitra'" [price]="'Rs. 1,799'"></app-book>
    <app-book class="grid-item" [title]="'Central Excise Manual (Vol 2) 
    (Set of 3 Books)'" [imgClass]="'gst'" [bookTag]="'Limited Edition'" [author]="'By S. N. Bidani, P. K. Mitra'" [price]="'Rs. 1,799'"></app-book>
    <app-book class="grid-item" [title]="'Income Tax Rules with Master 
    Guide To Income Tax Rules'" [imgClass]="'income-tax'" [bookTag]="'Best Seller'" [author]="'Aditya Gadge,  Biharilal Deora'" [price]="'Rs. 345'"></app-book>
    <app-book class="grid-item" [title]="'Central Excise Manual (Vol 2) 
    (Set of 3 Books)'" [imgClass]="'central-excise'"  [author]="'Amitabha Mukherjee '" [price]="'Rs. 1,799'"></app-book>
    </div>
    <div class="border-bottom"></div>
    <div class="display-flex space-between">
        <span class="recommend-text">New Releases</span>
        <a class="view-all">View all</a>
    </div>
    <div class="grid-container">
        <app-book class="grid-item" [title]="'Income Tax Rules with Master 
    Guide To Income Tax Rules'" [imgClass]="'income-tax'" [bookTag]="'Best Seller'" [author]="'Aditya Gadge,  Biharilal Deora'" [price]="'Rs. 345'"></app-book>
    <app-book class="grid-item" [title]="'Central Excise Manual (Vol 2) 
    (Set of 3 Books)'" [imgClass]="'central-excise'"  [author]="'Amitabha Mukherjee '" [price]="'Rs. 1,799'"></app-book>
    <app-book class="grid-item" [title]="'Central Excise Manual (Vol 2) 
    (Set of 3 Books)'" [imgClass]="'gst'" [bookTag]="'Limited Edition'" [author]="'By S. N. Bidani, P. K. Mitra'" [price]="'Rs. 1,799'"></app-book>
    <app-book class="grid-item" [title]="'Central Excise Manual (Vol 2) 
    (Set of 3 Books)'" [imgClass]="'gst'" [bookTag]="'Limited Edition'" [author]="'By S. N. Bidani, P. K. Mitra'" [price]="'Rs. 1,799'"></app-book>
    <app-book class="grid-item" [title]="'Income Tax Rules with Master 
    Guide To Income Tax Rules'" [imgClass]="'income-tax'" [bookTag]="'Best Seller'" [author]="'Aditya Gadge,  Biharilal Deora'" [price]="'Rs. 345'"></app-book>
    <app-book class="grid-item" [title]="'Central Excise Manual (Vol 2) 
    (Set of 3 Books)'" [imgClass]="'central-excise'"  [author]="'Amitabha Mukherjee '" [price]="'Rs. 1,799'"></app-book>
    </div>
</div>
<div class="right-division">
    <app-right-block></app-right-block>
    <div class="offers">
        Offers
    </div>
    <div class="offer-card">
    <app-offer [offerHeading]="'Super deal of a lifetime'" [offerContent]="'Get 2 modules at a price of 1 module'" [imgClass]="'library'"></app-offer>
</div>
<div class="offer-card">
    <app-offer [offerHeading]="'Books under Rs 599 only'" [offerContent]="'5000+ books on Income Tax and Corporate Tax'" [imgClass]="'dome'"></app-offer>
</div>
<div class="offer-card">
    <app-offer [offerHeading]="'Super deal of a lifetime'" [offerContent]="'Get 2 modules at a price of 1 module'" [imgClass]="'library'"></app-offer>
</div>
<div class="offer-card">
    <app-offer [offerHeading]="'Books under Rs 599 only'" [offerContent]="'5000+ books on Income Tax and Corporate Tax'" [imgClass]="'dome'"></app-offer>
</div>
</div>
 </div>
 <app-footer></app-footer>
