.central-excise{
    background-image:url('../assets/images/vol2L.png');
}
.income-tax{
    background-image:url('../assets/images/Bitmap.png');
}
.gst{
    background-image:url('../assets/images/book1.png');
}
.library{
    background-image:url('../assets/images/image2.png');
}
.dome{
    background-image:url('../assets/images/image1.png');
}
