<div class="home-page">
  <div class="arrow-icon">
    <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
  </div>
  <div class="display-flex">
    <img class="main-img" src="../../assets/images/image3.png" />
    <div class="home-content">
      <span class="heading">Subscription 2019</span>
      <span class="sub-heading">Boost your Practice</span>
      <span class="content">An all encompassing , authentic and update plateform</span>
      <button class="know-more">KNOW MORE</button>
    </div>
  </div>
  <div class="arrow-icon">
    <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
  </div>
</div>
